<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320381044188-urnhmrdar8n0luvpf4bocaglcpq1nmmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320381044188-urnhmrdar8n0luvpf4bocaglcpq1nmmt</string>
	<key>API_KEY</key>
	<string>AIzaSyDQMmdztmDEV88mmpqGW77cmLO1s7mXI3E</string>
	<key>GCM_SENDER_ID</key>
	<string>320381044188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>forafontov.ARDemo</string>
	<key>PROJECT_ID</key>
	<string>ardemo-473cf</string>
	<key>STORAGE_BUCKET</key>
	<string>ardemo-473cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320381044188:ios:ae14635fdad231e520bb19</string>
	<key>DATABASE_URL</key>
	<string>https://ardemo-473cf.firebaseio.com</string>
</dict>
</plist>